* {
    margin: 0;
    padding: 0;
}

.main {
    padding-left: 5%;
}
.main-header {
    margin-top: 5%;
    text-align: center;
}

.projects {
    margin-top: 2%;
}

.link {
    text-decoration: none;
    color: rgb(84, 84, 253);
}

.link:hover {
    color: rgb(40, 40, 255);
}